.home {
  &.no-scroll {
    overflow: hidden;
  }

  &-header {
    background-repeat: no-repeat !important;
  }

  .container {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    padding: 0;
    margin: 0;
  }
}//home

.front-page {
  &_section {
    width: 100vw;
    min-height: 100vh;

    &-title {
      text-align: center;
      margin: 20px 0;
    }

    &-portfolio {
      &_topics {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        column-gap: 10px;
        row-gap: 10px;
        justify-items: center;
        max-width: 1400px;
        margin: auto;

        &--topic {
          width: 100%;
          max-width: 550px;
          height: 300px;
          padding: 10px 20px;
          background-repeat: no-repeat !important;
          background-size: cover !important;
          background-position: center !important;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: center;

          &-title {
            color: $aa-white;
            text-shadow: 1px 1px 4px #000;
            position: relative;
            top: 0;
            transition: top 0.5s ease-in-out;
          }//title
          &-btn-open {
            opacity: 0;
            position: relative;
            top: 0;
            height: 0;
            width: 25%;
            padding: 0;
            transition: top 0.5s ease-in-out, opacity 1s ease-in-out;
            border-color: $aa-purple;
            background-color: $aa-purple;
            color: $aa-white;

            &:hover {
              border-color: $aa-dark-purple;
            }
          }

          &:hover &-title {
            top: -100px;
          }

          &:hover &-btn-open {
            top: -100px;
            opacity: 1;
            width: 35%;
            height: auto;
            padding: 10px;
          }
        }//topic
      }//topics
      .portfolio_topic-modal {
        visibility: hidden;
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
        background-color: #00000080;
        overflow: scroll;

        &.show-modal {
          visibility: visible;
          opacity: 1;
          z-index: 1;
        }//.show-modal

        &__content {
          margin: 2em auto;
          height: 100%;
          max-width: 1200px;
          background-color: $aa-white;
          position: static;

          &--btn-close {
            background-color: $aa-purple;
            border-color: $aa-purple;
            color: $aa-white;
            font-size: 24px;
            padding: 0 10px;
            position: sticky;
            float: right;
            top: 0;

            &:hover {
              border-color: $aa-dark-purple;
            }
          }//btn-close
          &--details {
            padding: 2em;
          }
        }//content
      }//portfolio_topic-modal
    }//portfolio
  }//section
}//.front-page
