.main-header {
  text-align: center;
  margin-bottom: 1em;

  &_container {
    @include mq(phone-wide, min) {
      text-align: left;
      margin-bottom: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }//mq phone-wide

    &--logo {
      margin-bottom: 1em;

      @include mq(phone-wide, min) {
        margin-bottom: 0;
      }
    }//logo

    .navbar {
      justify-content: center;
      text-align: center;
      background-color: $aa-white;
      border-radius: 5px;

      @include mq(phone-wide, min) {
        text-align: left;
      }

      &-toggler {
        padding: 0;

        &-icon {
          svg {
            font-size: 28px;
          }
        }//icon
      }//navbar-toggler

      li {
        @extend .nav-item;
      }

      a {
        @extend .nav-link;
      }
    }//navbar
  }//container
}//main-header
